.override_nav_link .nav_link_0:hover {
    color: #e9c067;
}

.override_nav_link .nav_link_0.active {
    background-color: #e9c067;
    color: white;
}

.override_nav_link .nav_link_1:hover {
    color: #46978d;
}

.override_nav_link .nav_link_1.active {
    background-color: #46978d;
    color: white;
}

.override_nav_link .nav_link_2:hover {
    color: #e56855;
}

.override_nav_link .nav_link_2.active {
    background-color: #e56855;
    color: white;
}

.override_nav_link .nav_link_3:hover {
    color: #5d98db;
}

.override_nav_link .nav_link_3.active {
    background-color: #5d98db;
    color: white;
}

.override_nav_link .nav_link_4:hover {
    color: #774da1;
}

.override_nav_link .nav_link_4.active {
    background-color: #774da1;
    color: white;
}

.native_nav_link .nav_link_0.active {
    color: #e9c067;
    border-top-color: #e9c067;
    border-left-color: #e9c067;
    border-right-color: #e9c067;
}

.native_nav_link .nav_link_0:hover {
    color: #e9c067;
    border-top-color: #e9c067;
    border-left-color: #e9c067;
    border-right-color: #e9c067;
}

.native_nav_link .nav_link_1.active {
    color: #46978d;
    border-top-color: #46978d;
    border-left-color: #46978d;
    border-right-color: #46978d;
}

.native_nav_link .nav_link_1:hover {
    color: #46978d;
    border-top-color: #46978d;
    border-left-color: #46978d;
    border-right-color: #46978d;
}

.native_nav_link .nav_link_2.active {
    color: #e56855;
    border-top-color: #e56855;
    border-left-color: #e56855;
    border-right-color: #e56855;
}

.native_nav_link .nav_link_2:hover {
    color: #e56855;
    border-top-color: #e56855;
    border-left-color: #e56855;
    border-right-color: #e56855;
}

.native_nav_link .nav_link_3.active {
    color: #5d98db;
    border-top-color: #5d98db;
    border-left-color: #5d98db;
    border-right-color: #5d98db;
}

.native_nav_link .nav_link_3:hover {
    color: #5d98db;
    border-top-color: #5d98db;
    border-left-color: #5d98db;
    border-right-color: #5d98db;
}

.native_nav_link .nav_link_4.active {
    color: #774da1;
    border-top-color: #774da1;
    border-left-color: #774da1;
    border-right-color: #774da1;
}

.native_nav_link .nav_link_4:hover {
    color: #774da1;
    border-top-color: #774da1;
    border-left-color: #774da1;
    border-right-color: #774da1;
}
