/* exhibition */
.dt {
    font-size: 1.25rem;
}

.dd {
    padding-top: 2.75px;
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .dd {
        margin-left: -2.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .dd {
        margin-left: -6.5rem;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .dd {
        margin-left: -1.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .dd {
        margin-left: -3rem;
    }
}
