@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
    font-family: "Noto Sans TC", sans-serif;
}

/* tour */

/* for content */
.tab_title {
    margin-top: 1rem;
}

.nav-item .nav-link {
    color: #bcbcbc;
    cursor: pointer;
}

.override_nav_link .nav_link_0:hover {
    color: #d25d4f;
}

.override_nav_link .nav_link_0 .active {
    background-color: #d25d4f;
    color: white;
}

.override_nav_link .nav_link_1:hover {
    color: #37a1d0;
}

.override_nav_link .nav_link_1 .active {
    background-color: #37a1d0;
    color: white;
}

.override_nav_link .nav_link_2:hover {
    color: #519b92;
}

.override_nav_link .nav_link_2 .active {
    background-color: #519b92;
    color: white;
}

.native_nav_link .nav_link_0.active {
    color: #d25d4f;
    border-top-color: #d25d4f;
    border-left-color: #d25d4f;
    border-right-color: #d25d4f;
}

.native_nav_link .nav_link_0:hover {
    color: #d25d4f;
    border-top-color: #d25d4f;
    border-left-color: #d25d4f;
    border-right-color: #d25d4f;
}

.native_nav_link .nav_link_1.active {
    color: #37a1d0;
    border-top-color: #37a1d0;
    border-left-color: #37a1d0;
    border-right-color: #37a1d0;
}

.native_nav_link .nav_link_1:hover {
    color: #37a1d0;
    border-top-color: #37a1d0;
    border-left-color: #37a1d0;
    border-right-color: #37a1d0;
}

.native_nav_link .nav_link_2.active {
    color: #519b92;
    border-top-color: #519b92;
    border-left-color: #519b92;
    border-right-color: #519b92;
}

.native_nav_link .nav_link_2:hover {
    color: #519b92;
    border-top-color: #519b92;
    border-left-color: #519b92;
    border-right-color: #519b92;
}

@media screen and (max-width: 767px) {
    .nav_tab_l {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .nav_tab_m {
        display: none;
    }
}

/* index.css */
@media screen and (min-width: 992px) {
    .title--mobile-only {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .title--web-only {
        display: none;
    }
}

.p--preline {
    white-space: pre-line;
}
